// ===================================
// -- Button
// ===================================

.button {
    // ===================================
    // -- Default

	padding: 6px 12px;



    // ===================================
    // -- Dimensions

	&--xs { padding: 2px 5px; } 		// single declaration on one line

	&--sm {}

	&--md {}

	&--lg {}



    // ===================================
    // -- Elements

	&__icon {
		@extend .extend; 				// first: Extend
		//@include include( value );		// second: Include
		position: absolute;				// third: Positioning
		display: block;					// fourth: Display & box model;
		font-family: Tahoma;			// fifth: Typography
		background-color: blue;			// sixth: Visual
	}



    // ===================================
    // -- Media querys

	@media( max-width: $screen-sm-max ) {}
}
